/* outline CSS */
h1{
    color:blue;
    background-color: black;
    border:10px solid green ;
    padding-left:30px;
    padding-top:10px;
    padding:30px 40px 20px 100px;
    /* top right bottom left  */
}